/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
body {
    background-color: #d3d3d3; 
    margin: 0;
    padding: 0;
    font-family: 'Tektur', cursive;
}

.square {
    width: 100px; 
    height: 100px; 
    background: #fff;
    border: 1px solid #999;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: 0; 
    padding: 0; 
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px; 
    height: 300px; 
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
    border-top: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
    border-left: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
    border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
    border-bottom: none;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    font-family: 'Tektur', cursive;
}

.status {
    margin-bottom: 20px;
}

.square:hover {
    background: #fcf527;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

form {
    margin-bottom: 20px; 
}

.players-container {
    display: flex;
    justify-content: center; 
    gap: 40px; 
}

.player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol {
    margin-top: 10px;
    font-family: 'Tektur', cursive;
    font-size: 24px;
    font-weight: bold;
}

form input[type="text"] {
    width: 200px; 
    padding: 5px; 
}

form > div {
    margin-bottom: 10px; 
}

form label {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px; 
}

form label input {
    margin-right: 5px;
}

span {
    font-family: 'Tektur', cursive;
    font-size: 24px; 
    font-weight: bold;
}

h1 {
    margin-bottom: 40px; 
    font-family: 'Tektur', cursive;
}

h2 {
    margin-bottom: 30px; 
    font-family: 'Tektur', cursive;
}

.status-container {
    margin-bottom: 20px;
}

.player1 {
    font-weight: bold;
    color: green;
}

.player2 {
    font-weight: bold;
    color: red;
}
